[submodule "webshell-common-ts"]
	path = webshell-common-ts
	url = https://github.com/bastionzero/webshell-common-ts.git
[submodule "bzero"]
	path = bzero
	url = https://github.com/bastionzero/bzero.git
